<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994457566247-s3d76mgfbi184buvvmsrt925q00dpv1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994457566247-s3d76mgfbi184buvvmsrt925q00dpv1v</string>
	<key>API_KEY</key>
	<string>AIzaSyCyVze49cLkT8AqtfRv3ht6OUJH6MsyyLY</string>
	<key>GCM_SENDER_ID</key>
	<string>994457566247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pporinge.browser.test</string>
	<key>PROJECT_ID</key>
	<string>pointing-browser</string>
	<key>STORAGE_BUCKET</key>
	<string>pointing-browser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:994457566247:ios:8cf494f514640466b92202</string>
</dict>
</plist>
